:root {
  --text-color: #000;
  --bg-color: #FFF;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;

  min-width: 320px;
  min-height: 100vh;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light;
  color: var(--text-color);
  background-color: var(--bg-color);
}
