:root {
  --bg-color: #FFF;

  --primary-text-color: #000;
  --accent-text-color: #77E;

  --primary-color: #CCC;
  --secondary-color: #EEE;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light;
  color: var(--primary-text-color);
  background-color: var(--bg-color);
}

.wrapper {
  min-width: 320px;
  min-height: 100vh;
  display: flex;
}

.sidebar {
  flex: 1;
  max-width: 50%;
  border-right: 1px solid var(--primary-color);
}


.header-wrapper {
  padding: 0.5rem;
  background-color: var(--primary-color);
}

.avatar {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 50%;
}

.header-profile {
  display: flex;
  justify-content: space-between;
}

.login-btn {
  color: var(--accent-text-color);
  border-radius: 0.5rem;
}

.search-input {
  width: 100%;
  margin-top: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}


.chat-list-wrapper {
  padding: 0.5rem;
}

.chat-list-header {
  display: flex;
  justify-content: space-between;
}

.chat-list-title {
  color: var(--accent-text-color);
}

.chat-list {
  padding-top: 0.5rem;
}

.add-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
}


.chat-item {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--primary-color);
  cursor: pointer;
}

.chat-item-content {
  padding-left: 0.5rem;
  overflow: hidden;
  flex: 1;
}

.chat-item-date {
  padding: 0 0.5rem;
}

.chat-item-buttons {
  display: flex;
}

.chat-item-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}


.chat-container {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.message-list {
  flex-grow: 1;
  overflow-y: auto;
  background-color: var(--secondary-color);
}

.chat-header {  
  padding: 1rem;
  background-color: var(--primary-color);
  display: flex;
}

.chat-header-content {
  padding-left: 1rem;
}

.message-item {
  padding: 0.5rem 1rem;
}

.message-text {
  width: fit-content;
  padding: 0.5rem;
  overflow-wrap: anywhere;
  border-radius: 1rem;
}

.outgoing-message {
  background-color: var(--primary-color);
}

.incoming-message {
  background-color: var(--primary-text-color);
  color: var(--bg-color);
}

.new-message-wrapper {
  padding: 1rem;
  background-color: var(--primary-color);
}

.new-message-input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
}


.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.dialog-box {
  background: var(--secondary-color);
  padding: 1rem;
  text-align: center;
}

.dialog-box h3 {
  margin-bottom: 1rem;
}

.dialog-box input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.dialog-actions button {
  margin: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
}